<button {{action 'showModal' 'district-modal' newDistrict}} class="btn btn-default new-district">New District</button>
{{#each district in controller}}
  {{#unless district.isNew}}
    {{#link-to 'district' district}}{{district.name}}{{/link-to}}
    <button {{action 'showModal' 'district-modal' district}} class="btn btn-default btn-xs">Edit</button>
  {{/unless}}
{{/each}}
