{{#my-modal title=modalTitle ok='save' close='removeModal'}}
  <div class="form-group">
    <label>First Name</label>
    {{input class="form-control" value=firstName autofocus=true}}

    <label>Last Name</label>
    {{input class="form-control" value=lastName on="enter"}}

    <label>Teachers</label>
    {{input class="form-control" value=teachers on="enter"}}

    <label>District</label>
    {{vt-chosen
      value=model.district
      content=districts
      optionValuePath='content'
      optionLabelPath='content.name'
      formController=controller
      prompt=' '
      dataPlaceholder='Select a District'
      allowSingleDeselect=false}}
  </div>
{{/my-modal}}
