{{#my-modal title=modalTitle ok='save' close='removeModal'}}
  <div class="form-group">
    <label>Name</label>
    {{input class="form-control" value=model.name autofocus=true}}
  </div>
{{/my-modal}}
