<nav role="navigation" class="navigation">
  <ul class="nav nav-tabs">
    {{#active-link current=currentRouteName linkPath='home.index'}}
      {{#link-to "home" class="nav-link" bubbles=false}}
        Home
      {{/link-to}}
    {{/active-link}}
    {{#active-link current=currentRouteName linkPath='district.visits.index'}}
      {{#link-to "district.visits" class="nav-link" bubbles=false}}
        Visits
      {{/link-to}}
    {{/active-link}}
    {{#if currentUser.model.isPrivileged}}
      {{#active-link current=currentRouteName linkPath='district.sisters.index'}}
        {{#link-to peopleLink class="nav-link" bubbles=false}}
          {{peopleTitle}}
        {{/link-to}}
      {{/active-link}}
      {{#active-link current=currentRouteName linkPath='district.report'}}
        {{#link-to "district.report" class="nav-link" bubbles=false}}
          Report
        {{/link-to}}
      {{/active-link}}
    {{/if}}
  </ul>
</nav>
{{outlet}}
