<nav role="navigation" class="navigation">
  <ul class="nav nav-tabs">
    {{#link-to "home" tagName="li" href=false}}
      {{#link-to "home" class="nav-link" bubbles=false}}
        Home
      {{/link-to}}
    {{/link-to}}
    {{#if currentUser.model.isPrivileged}}
      {{#link-to peopleLink tagName="li" href=false}}
        {{#link-to peopleLink class="nav-link" bubbles=false}}
          {{peopleTitle}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "home.report" tagName="li" href=false}}
        {{#link-to "home.report" class="nav-link" bubbles=false}}
          Full Report
        {{/link-to}}
      {{/link-to}}
    {{/if}}
  </ul>
</nav>
{{outlet}}
