{{#if currentUser.model.isPrivileged}}
  <div class="text-center new-district">
    <button {{action 'createNewDistrict'}} class="btn btn-default new-district">New District</button>
    {{#link-to 'report' class='btn btn-default districts-report full-report'}}Full Report{{/link-to}}
  </div>
{{/if}}
<div class="row">
  {{#each sortedDistricts as |district|}}
    {{#unless district.isNew}}
      <div class="col-md-3">
        <div class="well col-md-12 district-link">
          <div class="text-center">
            <h3>{{#link-to 'district' district}}{{district.name}}{{/link-to}}</h3>
            {{#if currentUser.model.isPrivileged}}
              <div>
                <button {{action 'showModal' 'district-modal' district}} class="btn btn-default btn-sm">Edit</button>
                {{#unless district.occupied}}
                  <button {{action 'showModal' 'district-delete-modal' district}} class="btn btn-default btn-sm">Delete</button>
                {{/unless}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    {{/unless}}
  {{/each}}
</div>
