// Place all the styles related to the Districts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sisterName {
  padding-left: 10px;
}

.new-sister {
  margin-bottom: 10px;
}

.label-large-transparent {
  background-color: transparent;
  color: black;
  font-family: times;
  font-size: 19px;
  font-weight: 600;
  &.label-larger {
    font-size: 20px;
  }
}

.btn-clear {
  background-color: #73C9F5;
  border-color: #73C9F5;
}

.notes {
  padding-top: 10px;
}

.district-inner-link {
  width: 35%;
  margin-bottom: 10px;
}

.new-district, .districts-report {
  margin-bottom: 10px;
}

.district-link {
  height: 160px;
}

.full-report {
  margin-bottom: 10px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
