<div class="control-group notes">
  {{textarea
    class="form-control"
    placeholderBinding="view.placeholder"
    valueBinding="view.value"
    viewName="inputField"
    rowsBinding="view.rows"}}
</div>
